@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------------------------custom------------------------------------------------- */

body {
  cursor: url('icons/cursor-white.png'), auto;
}

button:hover {
  cursor: url('icons/hand-white.png'), auto;
}

input,
textarea {
  cursor: url('icons/text-cursor.png'), text;
}